################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/src/Krino/.vs/Krino
/src/Krino/Krino.DomainModel.Logic.AdTree/obj
/src/Krino/Krino.Vertical.Utils/bin
/src/Krino/Krino.Vertical.Utils/obj
/src/Krino/Krino.Vertical.Utils_Tests/bin
/src/Krino/Krino.Vertical.Utils_Tests/obj
/src/Krino/Krino.DomainModel.Logic.AdTree/bin
/src/Krino/Krino.Domain.ConstructiveAdpositionalGrammar/bin
/src/Krino/Krino.Domain.ConstructiveAdpositionalGrammar/obj
*.user
/src/Krino/Krino.Domain.ConstructiveAdpositionalGrammar.Tests/bin
/src/Krino/Krino.Domain.ConstructiveAdpositionalGrammar.Tests/obj
/src/Krino/Krino.GretaTest/bin
/src/Krino/Krino.GretaTest/obj
/model/Krino.ldb
/src/Krino/Krino.Domain.EnglishGrammar/bin
/src/Krino/Krino.Domain.EnglishGrammar/obj
/src/Krino/Krino.Domain.EnglishGrammar.Tests/bin
/src/Krino/Krino.Domain.EnglishGrammar.Tests/obj
/src/Krino/Krino.Domain.ConstructiveAdpositionalArgumentation/bin/Debug/netstandard2.1
/src/Krino/Krino.Domain.ConstructiveAdpositionalArgumentation/obj
/src/Krino/Krino.WebApp/bin/Debug/net5.0
/src/Krino/Krino.WebApp/obj
/src/Krino/Krino.ViewModel/obj/Debug
/src/Krino/Krino.ViewModel/bin/Debug/netstandard2.1
/src/Krino/Krino.ViewModel/obj
