################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/src/Krino/.vs/Krino
/src/Krino/Krino.DomainModel.Logic.AdTree/obj
/src/Krino/Krino.Vertical.Utils/bin/Debug
/src/Krino/Krino.Vertical.Utils/obj
/src/Krino/Krino.Vertical.Utils_Tests/bin/Debug
/src/Krino/Krino.Vertical.Utils_Tests/obj
/src/Krino/Krino.DomainModel.Logic.AdTree/bin/Debug
/src/Krino/Krino.Domain.ConstructiveAdpositionalGrammar/bin/Debug
/src/Krino/Krino.Domain.ConstructiveAdpositionalGrammar/obj
*.user
/src/Krino/Krino.Domain.ConstructiveAdpositionalGrammar.Tests/bin/Debug/netcoreapp3.1
/src/Krino/Krino.Domain.ConstructiveAdpositionalGrammar.Tests/obj
