################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/src/Krino/.vs/Krino
/src/Krino/Krino.DomainModel.Logic.AdTree/obj
/src/Krino/Krino.Vertical.Utils/bin
/src/Krino/Krino.Vertical.Utils/obj
/src/Krino/Krino.Vertical.Utils_Tests/bin
/src/Krino/Krino.Vertical.Utils_Tests/obj
/src/Krino/Krino.DomainModel.Logic.AdTree/bin
/src/Krino/Krino.ConstructiveGrammar/bin
/src/Krino/Krino.ConstructiveGrammar/obj
*.user
/src/Krino/Krino.ConstructiveGrammar.Tests/bin
/src/Krino/Krino.ConstructiveGrammar.Tests/obj
/src/Krino/Krino.GretaTest/bin
/src/Krino/Krino.GretaTest/obj
/model/Krino.ldb
/src/Krino/Krino.EnglishGrammar/bin
/src/Krino/Krino.EnglishGrammar/obj
/src/Krino/Krino.EnglishGrammar.Tests/bin
/src/Krino/Krino.EnglishGrammar.Tests/obj
/src/Krino/Krino.ConstructiveArgumentation/bin/Debug/netstandard2.1
/src/Krino/Krino.ConstructiveArgumentation/obj
/src/Krino/Krino.WebApp/bin/Debug/net5.0
/src/Krino/Krino.WebApp/obj
/src/Krino/Krino.ViewModel/obj/Debug
/src/Krino/Krino.ViewModel/bin/Debug/netstandard2.1
/src/Krino/Krino.ViewModel/obj
/src/Krino/Krino.ViewModel/bin/Release/netstandard2.1
/src/Krino/Krino.WebApp/bin/Release/net5.0
/src/Krino/Krino.ViewModel.Tests/bin/Debug/netcoreapp3.1
/src/Krino/Krino.ViewModel.Tests/obj
/src/Krino/Krino.ConstructiveArgumentation.Tests/bin/Debug/netcoreapp3.1
/src/Krino/Krino.ConstructiveArgumentation.Tests/obj
/src/Krino/Krino.EnglishDictionary/bin/Debug/netstandard2.1
/src/Krino/Krino.EnglishDictionary/obj
/src/Krino/Krino.EnglishDictionary.Tests/bin/Debug/netcoreapp3.1
/src/Krino/Krino.EnglishDictionary.Tests/obj
/src/Krino/Krino.Prolog.Client/obj
/src/Krino/Krino.Prolog.Client/bin/Debug/netstandard2.1
/src/Krino/Krino.Prolog.Client.Tests/bin/Debug/netcoreapp3.1
/src/Krino/Krino.Prolog.Client.Tests/obj
/src/Krino/Krino.KnowledgeBase/httpd.log
/src/Krino/Resources/~$ConstructiveDictionary.xlsx
/src/Krino/Krino.ConstructiveArgumentation.Tests/bin/Debug/net6.0
/src/Krino/Krino.EnglishDictionary.Tests/bin/Debug/net6.0
/src/Krino/Krino.Prolog.Client.Tests/bin/Debug/net6.0
/src/Krino/Krino.ViewModel.Tests/bin/Debug/net6.0
/src/Krino/Krino.App/bin/Debug
/src/Krino/Krino.App/obj
