@page "/"

@inject IGrammarService myGrammar

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <svg viewBox="0 0 396.9 170.1" style="margin-top:1em;">
                <g>
                    <g>
                        <path style="fill:#010101;" d="M88.1,28.1c1.2,0,1.7,0.9,0.8,1.8L58.3,58.5l32.8,39.7c0.8,1,0,2-1.7,2h-4.9c-2.3,0-3.2-0.4-4.4-2L52,64.3
                            L41.2,74.3v23.5c0,1.9-0.5,2.4-2.7,2.4h-4.1c-2.3,0-2.7-0.5-2.7-2.4V30.5c0-1.9,0.5-2.4,2.7-2.4h4.1c2.3,0,2.7,0.5,2.7,2.4v33.8
                            l36.5-34.4c1.5-1.4,2.4-1.8,4.5-1.8H88.1z"/>
                        <path style="fill:#010101;" d="M104.3,30.5c0-1.9,0.5-2.4,2.7-2.4h18.2c19.7,0,30.1,6.4,30.1,20.7c0,10.7-6,17.1-17.4,19.6l21,29.9
                            c0.8,1,0.2,2-1.2,2h-5.4c-2.1,0-3-0.4-4.2-2l-19.8-28.7h-14.7v28.3c0,1.9-0.5,2.4-2.7,2.4H107c-2.3,0-2.7-0.5-2.7-2.4V30.5z
                                M113.8,35.7v26.1h11.4c13.9,0,20.1-3.9,20.1-12.9c0-8.9-6.1-13.3-20.1-13.3H113.8z"/>
                        <path style="fill:#010101;" d="M174.7,30.5c0-1.9,0.5-2.4,2.7-2.4h4.1c2.3,0,2.7,0.5,2.7,2.4v67.3c0,1.9-0.5,2.4-2.7,2.4h-4.1
                            c-2.3,0-2.7-0.5-2.7-2.4V30.5z"/>
                        <path style="fill:#010101;" d="M262.2,88.4v-58c0-1.9,0.6-2.4,2.7-2.4h4.2c2.1,0,2.6,0.5,2.6,2.4v67.3c0,1.9-0.5,2.4-2.6,2.4h-6
                            c-2.3,0-3.1-0.4-4.2-2.1l-32.3-45.3c-3.7-5.4-7-10.4-9.9-15.4h-0.4v60.4c0,1.9-0.5,2.4-2.7,2.4h-4.1c-2.3,0-2.7-0.5-2.7-2.4V30.5
                            c0-1.9,0.5-2.4,2.7-2.4h7.5c2.1,0,3.1,0.4,4.2,2.1l33.2,46.3c2.9,4,5.2,7.9,7.4,11.9H262.2z"/>
                    </g>
                    <g>
                        <path style="fill:#989898;" d="M31.8,118.5c0-0.3,0.1-0.3,0.4-0.3h6.2c6.5,0,10.1,2.1,10.1,7c0,5.1-3.6,7.1-10.2,7.1H34v10.1
                            c0,0.3-0.1,0.3-0.4,0.3h-1.4c-0.3,0-0.4-0.1-0.4-0.3V118.5z M34,119.9v10.6h4.3c5.2,0,7.9-1.3,7.9-5.4c0-3.9-2.7-5.2-7.9-5.2H34z"
                            />
                        <path style="fill:#989898;" d="M80.8,118.5c0-0.3,0.1-0.3,0.4-0.3h5.7c6.5,0,9.9,2.1,9.9,6.9c0,3.6-2.1,5.8-6.1,6.5l7.6,10.8
                            c0.1,0.1,0,0.3-0.2,0.3h-1.7c-0.3,0-0.4-0.1-0.6-0.3l-7.3-10.5c-0.5,0-1.1,0-1.6,0H83v10.4c0,0.3-0.1,0.3-0.4,0.3h-1.4
                            c-0.3,0-0.4-0.1-0.4-0.3V118.5z M83,119.9v10.2h3.9c5.3,0,7.6-1.6,7.6-5c0-3.4-2.3-5.2-7.6-5.2H83z"/>
                        <path style="fill:#989898;" d="M140.3,143c-7.6,0-11.9-4.9-11.9-12.6c0-7.6,4.3-12.5,11.9-12.5s12,4.9,12,12.5S147.9,143,140.3,143z
                                M140.3,141.3c6.5,0,9.6-4.6,9.6-11c0-6.2-3.1-10.9-9.6-10.9s-9.6,4.7-9.6,10.9C130.7,136.9,133.8,141.3,140.3,141.3z"/>
                        <path style="fill:#989898;" d="M187.5,118.1c0.3,0,0.4,0.1,0.4,0.3v22.3c0,6.4-4.1,8.6-7.8,9.4c-0.2,0-0.4,0.1-0.4-0.2l-0.2-0.8
                            c-0.1-0.3,0.1-0.3,0.2-0.4c2.9-0.7,6-2.6,6-7.9v-22.3c0-0.3,0.1-0.3,0.4-0.3H187.5z"/>
                        <path style="fill:#989898;" d="M222.6,118.5c0-0.3,0.1-0.3,0.4-0.3h14.8c0.3,0,0.4,0.1,0.4,0.3v1c0,0.3-0.1,0.4-0.4,0.4h-13v9.3h10
                            c0.3,0,0.4,0.1,0.4,0.4v1c0,0.3-0.1,0.3-0.4,0.3h-10v9.9h13.4c0.3,0,0.4,0.1,0.4,0.4v1c0,0.3-0.1,0.3-0.4,0.3H223
                            c-0.3,0-0.4-0.1-0.4-0.3V118.5z"/>
                        <path style="fill:#989898;" d="M268.6,130.4c0-8.5,5.3-12.6,12.6-12.6c4.5,0,6.9,1.6,8.8,3.5c0.2,0.2,0.2,0.5,0,0.7l-0.8,0.6
                            c-0.2,0.2-0.5,0.2-0.8,0c-2.1-1.9-4.2-3-7.3-3c-6,0-10.2,3.6-10.2,10.9c0,7.4,4.3,10.8,10.2,10.8c3.6,0,5.6-1.3,7.5-2.8
                            c0.3-0.2,0.4-0.2,0.7,0l0.8,0.6c0.2,0.2,0.3,0.4,0.1,0.6c-1.7,1.5-4.2,3.4-9.1,3.4C274.1,143,268.6,139,268.6,130.4z"/>
                        <path style="fill:#989898;" d="M327.9,119.9h-8c-0.3,0-0.4-0.1-0.4-0.4v-1c0-0.3,0.1-0.3,0.4-0.3h18c0.3,0,0.4,0.1,0.4,0.3v1
                            c0,0.3-0.1,0.4-0.4,0.4h-7.8v22.4c0,0.3-0.1,0.3-0.4,0.3h-1.4c-0.3,0-0.4-0.1-0.4-0.3V119.9z"/>
                    </g>
                    <g>
                        <g>
                            <path style="fill:#010101;" d="M328.8,101.2c-23.2,0-37.1-14.5-37.1-37.2c0-22.4,13.8-36.9,37.1-36.9s37.2,14.4,37.2,36.9
                                C365.9,86.5,352,101.2,328.8,101.2z M328.8,93.7c18,0,27.2-12.1,27.2-29.7c0-17-9.2-29.4-27.2-29.4s-27,12.5-27,29.4
                                C301.7,81.9,310.8,93.7,328.8,93.7z"/>
                        </g>
                        <g>
                            <path style="fill:#010101;" d="M313.1,20.8c-5.8,0.2-12.6-3.2-12.6-3.2c2.4,3.8,1.3,13.9,1,16.4c-0.3,2.5-2.3,4.8-3.5,7.9
                                c-1.2,3.1-1.6,9.4-1.6,9.4c22.4,3.6,32.7,16.5,32.7,16.5s10.3-13,32.7-16.5c0,0-0.4-6.3-1.6-9.4c-1.2-3.1-3.3-5.4-3.5-7.9
                                c-0.3-2.5-1.4-12.6,1-16.4c0,0-6.8,3.5-12.6,3.2c-5.8-0.2-6.3-2.6-16-2.6C319.4,18.2,318.9,20.5,313.1,20.8z"/>
                            <circle style="fill:#FFFFFF;" cx="340.9" cy="41.5" r="12.4"/>
                            <circle style="fill:#010101;" cx="340.9" cy="41.5" r="8.2"/>
                            <g>
                                <circle style="fill:#FFFFFF;" cx="317.3" cy="41.5" r="12.4"/>
                                <circle style="fill:#010101;" cx="317.2" cy="41.5" r="8.2"/>
                            </g>
                            <path style="fill:#F79421;" d="M334.2,51.9L334.2,51.9L334.2,51.9c0,0-3.7-3.4-5.1-6.8c-1.5,3.5-5.1,6.8-5.1,6.8h0l0,0l0,0h0
                                c0,0,3.7,3.3,5.1,6.8C330.5,55.3,334.2,51.9,334.2,51.9L334.2,51.9L334.2,51.9z"/>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>


    <div class="row">
        <div class="col-md" style="position:relative;">
            <RadzenDataList TItem=LogEntry Data=myViewModel?.Log Style="height:40em; overflow:auto; border:1px solid #dee2e6;" WrapItems=true>
                <Template Context="item">
                    <div class="row justify-content-end" style="width:100%; padding:0; overflow:hidden;">
                        <div class="col-md" style="font-family:monospace; line-height:normal; padding-top:0.75em; background-color:@(item.Name == "KRINO" ? "aliceblue" : "beige");">
                            <pre>
                                @item.Value
                            </pre>
                        </div>
                    </div>
                </Template>
            </RadzenDataList>
            @if (IsReadOnly)
            {
                <div style="position:absolute; top:50%; left:50%;">
                    <Flow />
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="" @bind-value=UserInput readonly=@IsReadOnly >
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" @onclick=OnOkClick>ok</button>
                </div>
            </div>
        </div>
    </div>

    <p>
        <b>Examples to use (copy/paste):</b>
    </p>
    <p>
        Cycling on the grass is prohibited because walking on the grass is prohibited.<br/>
        The suspect was driving fast because the suspect left a long trace of rubber on the road.<br/>
        Dutch royals should pay taxes because every other citizen pay taxes.<br/>
        Students should not have to wear school uniforms because school uniforms infringe upon students right to express their individuality.<br/>
    </p>

</div>

@code {
    private KrinoViewModel? myViewModel;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var parser = await myGrammar.CreateParser();
            myViewModel = new KrinoViewModel(parser);

            StateHasChanged();
        }
    }

    private bool IsReadOnly => myViewModel == null;

    private string? UserInput { get; set; }


    private void OnOkClick()
    {
        var value = UserInput;
        UserInput = null;
        myViewModel?.ProcessInput(value);
    }

}

